.flexme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#showme {
    flex-basis: 45%;
    border: 1px solid #f0f;
}
#themoney {
    flex-basis: 45%;
    border: 1px solid #ff0;
}

#container {
    display: flex;
    min-height: 1500px;
  }
  
#audrey {
    background-color: purple;
    color: snow;
    min-height: 100px;
    min-width: 50px;
    position: fixed;
}